{% include "header.html" %}
<div class="container">
    <div class="d-flex justify-content-center mt-3">
        <h4>Classroom: <u>{{schedule}}</u></h4>
    </div>
    <form method="post" action="{% url 'presence_list_update' schedule.id%}">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Student
                    </th>
                    <th>
                        Present
                    </th>
                    <th>
                        Notes
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for presence in presence_list %}
                    <tr>
                        <td>
                            {{ presence.student }}
                        </td>
                        <td>
                            <input type="checkbox"
                            {% if presence.is_present %}
                                checked
                            {% endif %}
                            name="selected_students" value="{{ presence.student.id }}"
                            >
                        </td>
                        <td>
                            <input type="text" name="note{{presence.student.id}}" {% if presence.notes %}value="{{presence.notes}}"{% endif %}>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <a style="margin: 6px 12px;" href="{% url "classrooms" %}">Cancel</a>
            <button style="margin-right: 10px;" class="btn btn-primary" type="submit">Update</button>

        </div>
    </form>
</div>
