<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" /> <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">AlbEdu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'student'%}">Students</span></a>
          </li>
          {% if perms.app.view_classroom %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'classrooms'%}">Classrooms</a>
          </li>
          {% endif %}          
        
          {% if perms.app.view_schedule %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'classrooms'%}">Schedules</a>
          </li>
          {% endif %}          
        </ul>

        {% if user.is_authenticated %}
          <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
          </form>
        {% else %}
          <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
          </form>
        {% endif %}
      </div>
    </nav>
  </body>
</html>
