{% include "header.html" %}

<div class="container mt-3">
    <h2>Teachers</h2>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{teacher.first_name}} </td>
                <td>{{teacher.last_name}}</td>
                <td>{{teacher.username}}</td>
                <td>{{teacher.email}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary justify-right" href="{% url "register_teacher" %}">Add Teacher</a>
</div>


<div class="container mt-5">
    <h2>Parents</h2>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% for parent in parents %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{parent.first_name}} </td>
                <td>{{parent.last_name}}</td>
                <td>{{parent.username}}</td>
                <td>{{parent.email}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url "register_parent" %}">Add Parent</a>
</div>














{% comment %} <div class="container-fluid pt-3 px-auto col-md-6">
    <div>
        <h2 class="text-center">Teachers and Classrooms</h2>
        <div>
        <ol class="list-group-numbered">
            {% for teacher in teachers %}
            
                <li class="list-group-item list-group-item-info">
                    {{teacher.first_name}} {{teacher.last_name}}
                </li>
                {% for classroom in classrooms %}                
                <ol class="list-group">
                    {% if classroom.teacher_id == teacher %}                        
                            <li class="list-group-item">{{classroom}} </li>                        
                    {% endif %}
                </ol>    
                {% endfor %}
                
            {% endfor %}
        </ol>
        <a class="btn btn-primary justify-right" href="{% url "register_teacher" %}">Add Teacher</a>
        </div>
    </div>

</div> {% endcomment %}



{% comment %} <div class="container-fluid pt-3 px-auto col-md-6">
    <div>
        <h2 class="text-center">Parents and Students</h2>
        <div>
        <ol class="list-group-numbered">
            {% for parent in parents %}
            
                <li class="list-group-item list-group-item-info">
                    {{parent.first_name}} {{parent.last_name}}
                </li>
                {% for student in students %}                
                <ol class="list-group">
                    {% if student.parent_id == parent%}                        
                            <li class="list-group-item">{{student}} </li>                        
                    {% endif %}
                </ol>    
                {% endfor %}
                
            {% endfor %}
        </ol>
        </div>
    </div>
    <a class="btn btn-primary" href="{% url "register_parent" %}">Add Parent</a>
</div> {% endcomment %}