{% include "header.html" %}
<div class="container mt-3">
    <table class="table">
        <thead>
            <tr class="thead-light">
                <th scope="col">Classroom Name</th>
                <th scope="col">Teacher</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
            {%for classroom in classrooms%}        
            <tr>
                <td><a href="{% url "classroom_profile" classroom.id %}">{{classroom.name}}</a></td>
                <td>{{classroom.teacher_id}}</td>
                <td><a class="btn btn-outline-primary" href="{% url 'create_schedule' classroom.id%}">Add Schedule</a></td>
                <td>
                    <div>
                        <a class="btn btn-info" href="{%url 'update_classroom' classroom.id%}">Edit</a>
                        <a class="btn btn-outline-danger" href="{%url 'delete_classroom' classroom.id%}">Delete</a>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </table>
        <div class="d-flex flex-row-reverse">
            <a class="btn btn-primary" href="{%url 'create_classroom' %}">Create Classroom</a>

        </div>
</div>
